extends admin

block content
  h1 Add Case
  p Development Only - Add case to DB
  
  html.
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <form id="bookForm" method="post" class="form-horizontal">
      <div class="form-group">
          <label class="col-xs-1 control-label">Book</label>
          <div class="col-xs-4">
              <input type="text" class="form-control" name="book[0].title" placeholder="Title" />
          </div>
          <div class="col-xs-4">
              <input type="text" class="form-control" name="book[0].isbn" placeholder="ISBN" />
          </div>
          <div class="col-xs-2">
              <input type="text" class="form-control" name="book[0].price" placeholder="Price" />
          </div>
          <div class="col-xs-1">
              <button type="button" id="addButton" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
          </div>
      </div>

      <!-- The template for adding new field -->
      <div class="form-group hide" id="bookTemplate">
          <div class="col-xs-4 col-xs-offset-1">
              <input type="text" class="form-control" name="title" placeholder="Title" />
          </div>
          <div class="col-xs-4">
              <input type="text" class="form-control" name="isbn" placeholder="ISBN" />
          </div>
          <div class="col-xs-2">
              <input type="text" class="form-control" name="price" placeholder="Price" />
          </div>
          <div class="col-xs-1">
              <button type="button" name="removeButton" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
          </div>
      </div>
    </form>

    <script>
      $(document).ready(function() {
        bookIndex = 0;
        
        $('#addButton').click(function() {
          bookIndex++;
          var $template = $('#bookTemplate'),
              $clone    = $template
                              .clone()
                              .removeClass('hide')
                              .removeAttr('id')
                              .attr('data-book-index', bookIndex)
                              .insertBefore($template);

          // Update the name attributes
          $clone
              .find('[name="title"]').attr('name', 'book[' + bookIndex + '].title').end()
              .find('[name="isbn"]').attr('name', 'book[' + bookIndex + '].isbn').end()
              .find('[name="price"]').attr('name', 'book[' + bookIndex + '].price').end()
              .find('[name="removeButton"]').attr('id', 'book[' + bookIndex + '].removeButton').end()
              .find('[name="removeButton"]').attr('name', 'book[' + bookIndex + '].removeButton').end();
        });
        
        $('body').on('click', '.removeButton', function() {
          var $row  = $(this).parents('.form-group');
          bookIndex--;

          // Remove element containing the fields
          $row.remove();
        });
    });
    </script>

    
