extends admin

block content
  h1 Register
  p Please register using the form below
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(method='post', action='/admin/adduser', enctype='multipart/form-data')
    .form-group
      label Name
      input.form-control(id='name', name='name', type='text', placeholder='Enter Name')
    .form-group
      label Email
      input.form-control(id='email', name='email', type='email', placeholder='Enter Email')
    .form-group
      label Username
      input.form-control(id='username', name='username', type='text', placeholder='Username')
    .form-group
      label Password
      input.form-control(id='password', name='password', type='password', placeholder='Enter Password')
    .form-group
      label Confirm Password
      input.form-control(id='password2', name='password2', type='password', placeholder='Confirm Password')
    input.btn.btn-default(name='Submit', type='submit', value='Register')
